<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>END</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>58</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>143</real>
			<key>x</key>
			<real>754.44921875</real>
			<key>y</key>
			<real>167.75</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>302.802633355784</real>
					<key>controlPoint1Y</key>
					<real>283.66035451869476</real>
					<key>controlPoint2X</key>
					<real>226.94426321744788</real>
					<key>controlPoint2Y</key>
					<real>283.32233510984122</real>
					<key>dstPointX</key>
					<real>233</real>
					<key>dstPointY</key>
					<real>317</real>
					<key>srcPointX</key>
					<real>304</real>
					<key>srcPointY</key>
					<real>249</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>228</real>
			<key>internalHeight</key>
			<real>22</real>
			<key>onEntryHeight</key>
			<real>113</real>
			<key>onExitHeight</key>
			<real>46</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>626</real>
			<key>x</key>
			<real>324</real>
			<key>y</key>
			<real>140.703125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>TEST</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>418.93039411546761</real>
					<key>controlPoint1Y</key>
					<real>445.52904971954194</real>
					<key>controlPoint2X</key>
					<real>744.34313943603786</real>
					<key>controlPoint2Y</key>
					<real>317.52402886262928</real>
					<key>dstPointX</key>
					<real>724.5</real>
					<key>dstPointY</key>
					<real>191</real>
					<key>srcPointX</key>
					<real>422.5</real>
					<key>srcPointY</key>
					<real>571</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>789.05608277390184</real>
					<key>controlPoint1Y</key>
					<real>592.67926619076559</real>
					<key>controlPoint2X</key>
					<real>887.90583895936481</real>
					<key>controlPoint2Y</key>
					<real>429.09408998688662</real>
					<key>dstPointX</key>
					<real>936.93339555552768</real>
					<key>dstPointY</key>
					<real>458.0385921337699</real>
					<key>srcPointX</key>
					<real>747.58143189595762</real>
					<key>srcPointY</key>
					<real>581.46620471754272</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>797.5002969832924</real>
					<key>controlPoint1Y</key>
					<real>632.328125</real>
					<key>controlPoint2X</key>
					<real>892.4997030167076</real>
					<key>controlPoint2Y</key>
					<real>633</real>
					<key>dstPointX</key>
					<real>940</real>
					<key>dstPointY</key>
					<real>633</real>
					<key>srcPointX</key>
					<real>750</real>
					<key>srcPointY</key>
					<real>632.328125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>134</real>
			<key>internalHeight</key>
			<real>15</real>
			<key>onEntryHeight</key>
			<real>53</real>
			<key>onExitHeight</key>
			<real>19</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>743</real>
			<key>x</key>
			<real>384.5</real>
			<key>y</key>
			<real>633</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
