<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>BUTTON_ON</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>375.32411962333276</real>
					<key>controlPoint1Y</key>
					<real>529.64661716786964</real>
					<key>controlPoint2X</key>
					<real>107.38751973471699</real>
					<key>controlPoint2Y</key>
					<real>548.59234650446035</real>
					<key>dstPointX</key>
					<real>189</real>
					<key>dstPointY</key>
					<real>571</real>
					<key>srcPointX</key>
					<real>387.44388839585184</real>
					<key>srcPointY</key>
					<real>515.50004758776788</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>518.82409197965171</real>
					<key>controlPoint1Y</key>
					<real>358.3359375</real>
					<key>controlPoint2X</key>
					<real>616.8690192167993</real>
					<key>controlPoint2Y</key>
					<real>270.84883538004516</real>
					<key>dstPointX</key>
					<real>698.31792882029436</real>
					<key>dstPointY</key>
					<real>188.50021421786357</real>
					<key>srcPointX</key>
					<real>403</real>
					<key>srcPointY</key>
					<real>358.3359375</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>210</real>
			<key>internalHeight</key>
			<real>37</real>
			<key>onEntryHeight</key>
			<real>99</real>
			<key>onExitHeight</key>
			<real>27</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>392</real>
			<key>x</key>
			<real>213</real>
			<key>y</key>
			<real>417</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>END</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>58</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>143</real>
			<key>x</key>
			<real>754.44921875</real>
			<key>y</key>
			<real>167.75</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>INITIAL</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>302.802633355784</real>
					<key>controlPoint1Y</key>
					<real>283.66035451869476</real>
					<key>controlPoint2X</key>
					<real>226.94426321744788</real>
					<key>controlPoint2Y</key>
					<real>283.32233510984122</real>
					<key>dstPointX</key>
					<real>233</real>
					<key>dstPointY</key>
					<real>317</real>
					<key>srcPointX</key>
					<real>304</real>
					<key>srcPointY</key>
					<real>249</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>228</real>
			<key>internalHeight</key>
			<real>22</real>
			<key>onEntryHeight</key>
			<real>113</real>
			<key>onExitHeight</key>
			<real>46</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>626</real>
			<key>x</key>
			<real>324</real>
			<key>y</key>
			<real>140.703125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>MOTORS_BACK</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>1112.7222991917818</real>
					<key>controlPoint1Y</key>
					<real>261.09785358924739</real>
					<key>controlPoint2X</key>
					<real>1136.3398701774472</real>
					<key>controlPoint2Y</key>
					<real>252.90214641075258</real>
					<key>dstPointX</key>
					<real>1138</real>
					<key>dstPointY</key>
					<real>230</real>
					<key>srcPointX</key>
					<real>1110.3984375</real>
					<key>srcPointY</key>
					<real>283</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>27</real>
			<key>onEntryHeight</key>
			<real>107</real>
			<key>onExitHeight</key>
			<real>19</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>384</real>
			<key>x</key>
			<real>1122.796875</real>
			<key>y</key>
			<real>378</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>MOTOR_ON</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>821.06908571852091</real>
					<key>controlPoint1Y</key>
					<real>456.41031246054422</real>
					<key>controlPoint2X</key>
					<real>962.63557664258042</real>
					<key>controlPoint2Y</key>
					<real>273.14605453604844</real>
					<key>dstPointX</key>
					<real>816.82356950753103</real>
					<key>dstPointY</key>
					<real>181.81515182626998</real>
					<key>srcPointX</key>
					<real>943.29527205516024</real>
					<key>srcPointY</key>
					<real>504.00217911180198</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>892.49840185946539</real>
					<key>controlPoint1Y</key>
					<real>591.94140625</real>
					<key>controlPoint2X</key>
					<real>797.50159814053461</real>
					<key>controlPoint2Y</key>
					<real>593.5</real>
					<key>dstPointX</key>
					<real>750</real>
					<key>dstPointY</key>
					<real>593.5</real>
					<key>srcPointX</key>
					<real>940</real>
					<key>srcPointY</key>
					<real>591.94140625</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>207</real>
			<key>internalHeight</key>
			<real>16</real>
			<key>onEntryHeight</key>
			<real>124</real>
			<key>onExitHeight</key>
			<real>20</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>380</real>
			<key>x</key>
			<real>1124.69921875</real>
			<key>y</key>
			<real>593.5</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>SPIN</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>781.27305165225903</real>
					<key>controlPoint1Y</key>
					<real>133.09214648708283</real>
					<key>controlPoint2X</key>
					<real>964.73688729001378</real>
					<key>controlPoint2Y</key>
					<real>170.04311863052959</real>
					<key>dstPointX</key>
					<real>819.99918528457647</real>
					<key>dstPointY</key>
					<real>171.18052133719152</real>
					<key>srcPointX</key>
					<real>925</real>
					<key>srcPointY</key>
					<real>126</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>815.66715754957386</real>
					<key>controlPoint1Y</key>
					<real>303.16594019918898</real>
					<key>controlPoint2X</key>
					<real>596.6640625</real>
					<key>controlPoint2Y</key>
					<real>431.60465330033753</real>
					<key>dstPointX</key>
					<real>596.6640625</real>
					<key>dstPointY</key>
					<real>571</real>
					<key>srcPointX</key>
					<real>928.77206798964858</real>
					<key>srcPointY</key>
					<real>221.68991970320621</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>27</real>
			<key>onEntryHeight</key>
			<real>103</real>
			<key>onExitHeight</key>
			<real>23</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>386</real>
			<key>x</key>
			<real>1113</real>
			<key>y</key>
			<real>136</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>TEST</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>418.93039411546761</real>
					<key>controlPoint1Y</key>
					<real>445.52904971954194</real>
					<key>controlPoint2X</key>
					<real>744.34313943603786</real>
					<key>controlPoint2Y</key>
					<real>317.52402886262928</real>
					<key>dstPointX</key>
					<real>724.5</real>
					<key>dstPointY</key>
					<real>191</real>
					<key>srcPointX</key>
					<real>422.5</real>
					<key>srcPointY</key>
					<real>571</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>789.05608277390184</real>
					<key>controlPoint1Y</key>
					<real>592.67926619076559</real>
					<key>controlPoint2X</key>
					<real>887.90583895936481</real>
					<key>controlPoint2Y</key>
					<real>429.09408998688662</real>
					<key>dstPointX</key>
					<real>936.93339555552768</real>
					<key>dstPointY</key>
					<real>458.0385921337699</real>
					<key>srcPointX</key>
					<real>747.58143189595762</real>
					<key>srcPointY</key>
					<real>581.46620471754272</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>797.5002969832924</real>
					<key>controlPoint1Y</key>
					<real>632.328125</real>
					<key>controlPoint2X</key>
					<real>892.4997030167076</real>
					<key>controlPoint2Y</key>
					<real>633</real>
					<key>dstPointX</key>
					<real>940</real>
					<key>dstPointY</key>
					<real>633</real>
					<key>srcPointX</key>
					<real>750</real>
					<key>srcPointY</key>
					<real>632.328125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.94999999999999996</real>
				<key>green</key>
				<real>0.94999999999999996</real>
				<key>red</key>
				<real>0.94999999999999996</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>134</real>
			<key>internalHeight</key>
			<real>15</real>
			<key>onEntryHeight</key>
			<real>53</real>
			<key>onExitHeight</key>
			<real>19</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>743</real>
			<key>x</key>
			<real>384.5</real>
			<key>y</key>
			<real>633</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
