<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>END</key>
		<dict>
			<key>Transitions</key>
			<array/>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<false/>
			<key>h</key>
			<real>50</real>
			<key>internalHeight</key>
			<real>0.0</real>
			<key>onEntryHeight</key>
			<real>0.0</real>
			<key>onExitHeight</key>
			<real>0.0</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>100</real>
			<key>x</key>
			<real>155.95703125</real>
			<key>y</key>
			<real>393</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Initial</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>406.01559629962878</real>
					<key>controlPoint1Y</key>
					<real>162.64388660109691</real>
					<key>controlPoint2X</key>
					<real>438.67962184872147</real>
					<key>controlPoint2Y</key>
					<real>161.53495499096749</real>
					<key>dstPointX</key>
					<real>466</real>
					<key>dstPointY</key>
					<real>164.203125</real>
					<key>srcPointX</key>
					<real>378</real>
					<key>srcPointY</key>
					<real>160</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>277</real>
			<key>internalHeight</key>
			<real>29</real>
			<key>onEntryHeight</key>
			<real>172</real>
			<key>onExitHeight</key>
			<real>29</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>358</real>
			<key>x</key>
			<real>205</real>
			<key>y</key>
			<real>164.203125</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Publish</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>409.984375</real>
					<key>controlPoint1Y</key>
					<real>335.234375</real>
					<key>controlPoint2X</key>
					<real>266.52312347428619</real>
					<key>controlPoint2Y</key>
					<real>350.40830760943055</real>
					<key>dstPointX</key>
					<real>196.46746661864674</real>
					<key>dstPointY</key>
					<real>384.29178476430735</real>
					<key>srcPointX</key>
					<real>467.2591531764615</real>
					<key>srcPointY</key>
					<real>276.98431530908124</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>478.62109375</real>
					<key>controlPoint1Y</key>
					<real>324.98046875</real>
					<key>controlPoint2X</key>
					<real>616.200847217572</real>
					<key>controlPoint2Y</key>
					<real>331.88003851961651</real>
					<key>dstPointX</key>
					<real>637.6953125</real>
					<key>dstPointY</key>
					<real>353</real>
					<key>srcPointX</key>
					<real>622.890625</real>
					<key>srcPointY</key>
					<real>290</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>272</real>
			<key>internalHeight</key>
			<real>33</real>
			<key>onEntryHeight</key>
			<real>153</real>
			<key>onExitHeight</key>
			<real>39</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>354</real>
			<key>x</key>
			<real>637.6953125</real>
			<key>y</key>
			<real>160</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>WAIT_AND_COUNT</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>380.35700349571147</real>
					<key>controlPoint1Y</key>
					<real>422.33088848596731</real>
					<key>controlPoint2X</key>
					<real>266.54894413512858</real>
					<key>controlPoint2Y</key>
					<real>400.89187549842057</real>
					<key>dstPointX</key>
					<real>200.76742285650715</real>
					<key>dstPointY</key>
					<real>394.83404317955944</real>
					<key>srcPointX</key>
					<real>445</real>
					<key>srcPointY</key>
					<real>393</real>
				</dict>
				<dict>
					<key>controlPoint1X</key>
					<real>637.6953125</real>
					<key>controlPoint1Y</key>
					<real>321.14372281200485</real>
					<key>controlPoint2X</key>
					<real>748.45703125</real>
					<key>controlPoint2Y</key>
					<real>321.85627718799515</real>
					<key>dstPointX</key>
					<real>748.45703125</real>
					<key>dstPointY</key>
					<real>290</real>
					<key>srcPointX</key>
					<real>637.6953125</real>
					<key>srcPointY</key>
					<real>353</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>176</real>
			<key>internalHeight</key>
			<real>43</real>
			<key>onEntryHeight</key>
			<real>43</real>
			<key>onExitHeight</key>
			<real>43</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>365</real>
			<key>x</key>
			<real>622.890625</real>
			<key>y</key>
			<real>436</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.2</string>
</dict>
</plist>
